<div class="modal-header" align="center">
    <div align="center">
        FAQ
    </div>
</div>

<div class="modal-body" align="center">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#faq_1"
               onclick="(function(e){e.preventDefault();})(event)">How To Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#faq_2" onclick="(function(e){e.preventDefault();})(event)">How To Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#faq_3" onclick="(function(e){e.preventDefault();})(event)">How To Find Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#faq_4" onclick="(function(e){e.preventDefault();})(event)">How To Send a Message</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="faq_1" class="container tab-pane active boxes-container"><br>
            Firstly acces the register tab.
            <br>
            <img src="../../resources/images/faq/register1.bmp">
            <br>
            Then fill the shown fields with apropriate data.
            <br>
            DO NOT FORGET THE USERNAME AND PASSWORD VALUES.
            <br>
            You will need them later to log in.
            <br>
            <img src="../../resources/images/faq/register2.png" align="middle">
            <br>
            Then click on the register button.
            <br>
            Now You are all set :). Enjoy.
        </div>

        <div id="faq_2" class="container tab-pane fade boxes-container">
            Firstly acces the login tab.
            <br>
            <img src="../../resources/images/faq/login1.bmp">
            <br>
            Then fill the shown fields with apropriate data.
            <br>
            USE THE REGISTERED USERNAME AND PASSWORD
            <br>
            Then click on the LOGIN button.
            <br>
        </div>

        <div id="faq_3" class="container tab-pane fade boxes-container">
            Firstly acces the Friends Manager tab.
            <br>
            <img src="../../resources/images/faq/addfriend1.bmp" width="50%">
            <br>
            In the first window you will see the incoming friend requests.
            <br>
            <img src="../../resources/images/faq/addfriend2.bmp" width="50%">
            <br>
            In the second window you can send friend requests to other people.
            <br>
            <img src="../../resources/images/faq/addfriend3.bmp" width="50%">
            <br>
            They just need to accept your request to start chatting.
            <br>
        </div>

        <div id="faq_4" class="container tab-pane fade boxes-container">
            Firstly click on a friend in the left side panel of the page.
            <br>
            <img src="../../resources/images/faq/sendmessage1.bmp" width="35%">
            <br>
            Then in the main window type any message you want and pres RETURN key.
            <br>
            <img src="../../resources/images/faq/sendmessage2.bmp" width="35%">
        </div>
    </div>

    <br>
    <div style="top: 10px">
        <button style="min-width: 100px" class="btn btn-primary" ng-click="ok()">Done</button>
        <button style="min-width: 100px" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>

<div class="modal-footer" align="center">

</div>
